.nav-link {
    color: white;
}

.card {
    display: inline-block;
    border-radius: 5%;
}

#quick {
  border-radius: 0%;
}

.stickyClass {
  top: 20px !important;
  position: sticky !important;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.progress {
  height: 10px;
}

.accordion-button {
  flex-direction: column;
  width: 100%;
  text-align: left;
}

.accordion-header {
  width: 100%;
  text-align: left;
  font-weight: bold;
}

.experience_desc {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.flex-child {
  display: inline-block;
  font-size: smaller;
}